name: Build documentation

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Copy root
        run: cp *.md docs/

      - name: Copy TypeScript Documentation
        run: |
          cp -r ./typescript/docs docs/typescript
          cp ./typescript/*.md docs/typescript
          cp ./typescript/examples/README.md docs/typescript/examples.md

      - name: Copy Python Documentation
        run: cp -r ./python/docs docs/python

      - name: Upload Documentation Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
